/* Geral */
body {
  align-items: center;
  justify-content: center;
  flex-direction: column;

}

.cat{
  width:100%;
  text-align:center;
  padding:40px;
  border: 3px solid #158cba;
}

/* Barra de navegação */
#morangologo{
  max-width: 50px;
}

/* Banners */
.carousel-item{
  height: 33.8rem;
  background: #000;
  color: white;
  position: relative;

}
.containerCarousel{
  text-align:center;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding-bottom: 50px;
}
.overlay-image{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background-position: center;
  background-size: cover;
  opacity: 0.8;
}

.img-thumbnail{
  width: 4em;
  height: 4em;
  border-radius: 50%;
  /*box-shadow:  0 0.6em 1.8em ;*/
  object-fit: cover;
  border: 3px solid #c70606;
}

.container .box {
  margin:5px;
  display:table;
}
.container .box .box-row {
  display:table-row;
}

.container .box .box-cell {
  width: 400px;
  display:table-cell;
  padding:10px;
  border-radius: 10%;
  border: 3px solid #158cba;
  background-color: #b3e1f39f;
  box-shadow: 0 5px 5px rgba(0,0,0,0.3);
}

#containerAgenda{
  height: 250px;
  overflow-y: auto;
  padding: 2px;
  
}
#deleteBtn{
  border: 1px solid #000000;
  border-radius: 25%;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
}